#OuterBox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#OuterBox > *{
    border: 2px solid lightgreen;
    padding:10px;
    margin: 10px;
    width: auto;
    text-align: center;
    color: coral;

}